.bcg {
    width: 100%;
    height: 4196px;
    position: relative;
    background-color: #fff;
    text-align: left;
    font-size: 36px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Syne;
}
.projectdetail {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000;
    width: 1101px;
    height: 4196px;
}
.container {
    position: absolute;
    top: 128px;
    left: 48px;
    width: 1005px;
    height: 188px;
    flex-shrink: 0;
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Space Grotesk';
}
.button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 129.1px;
    height: 24px;
}
.icon {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 20px;
    height: 20px;
}
.back-to-work {
    position: absolute;
    top: 0px;
    left: 28px;
    line-height: 24px;
}
.container2 {
    position: absolute;
    top: 56px;
    left: 0px;
    width: 1005px;
    height: 132px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    text-align: left;
    font-size: 72px;
    color: #fd3e71;
    font-family: Syne;
}
.heading-1 {
    align-self: stretch;
    height: 72px;
    position: relative;
}
.bcg-x {
    position: absolute;
    top: -0.5px;
    left: 0px;
    line-height: 72px;
}
.paragraph {
    align-self: stretch;
    height: 36px;
    position: relative;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Space Grotesk';
}
.graphic-design-and {
    position: absolute;
    top: -0.5px;
    left: 0px;
    line-height: 36px;
}
.container3 {
    position: absolute;
    top: 363px;
    left: 48px;
    background-color: rgba(255, 255, 255, 0.05);
    width: 1005px;
    height: 116px;
    flex-shrink: 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Space Grotesk';
}
.container4 {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 292.3px;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.paragraph2 {
    align-self: stretch;
    height: 20px;
    position: relative;
}
.duration {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 20px;
}
.paragraph3 {
    align-self: stretch;
    height: 24px;
    position: relative;
    font-size: 16px;
    color: #fff;
}
.months {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 24px;
}
.container5 {
    position: absolute;
    top: 32px;
    left: 356.33px;
    width: 292.3px;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.container6 {
    position: absolute;
    top: 529px;
    left: 47px;
    width: 1005px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}
.heading-2 {
    align-self: stretch;
    height: 40px;
    position: relative;
    flex-shrink: 0;
}
.overview {
    position: absolute;
    top: -1px;
    left: 0px;
    line-height: 40px;
}
.paragraph-wrapper {
    align-self: stretch;
    height: 32.5px;
    position: relative;
    flex-shrink: 0;
    font-size: 20px;
    font-family: 'Space Grotesk';
}
.paragraph6 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1005px;
    height: 32.5px;
}
.a-mobile-first-platform {
    position: absolute;
    top: 1px;
    left: 0px;
    line-height: 32.5px;
    display: inline-block;
    width: 1005px;
    flex-shrink: 0;
}
.container7 {
    position: absolute;
    top: 728px;
    left: 47px;
    width: 1005px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}
.a-mobile-first-platform2 {
    position: absolute;
    top: 1px;
    left: 0px;
    line-height: 32.5px;
    white-space: pre-wrap;
    display: inline-block;
    width: 1005px;
    flex-shrink: 0;
}
.container8 {
    position: absolute;
    top: 1407px;
    left: 47px;
    width: 1005px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}
.container9 {
    position: absolute;
    top: 2751px;
    left: 47px;
    width: 1005px;
    height: 161.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}
.heading-24 {
    align-self: stretch;
    height: 40px;
    position: relative;
}
.paragraph9 {
    align-self: stretch;
    height: 97.5px;
    position: relative;
    font-size: 20px;
    font-family: 'Space Grotesk';
}
.this-project-reinforced {
    position: absolute;
    top: 0.5px;
    left: 0px;
    line-height: 32.5px;
    display: inline-block;
    width: 998px;
    flex-shrink: 0;
}
.marketplaceaccvideo {
    position: absolute;
    top: 97px;
    left: calc(50% - 503.5px);
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 1006px;
    height: 453px;
    flex-shrink: 0;
}
.container10 {
    position: absolute;
    top: 3493px;
    left: 47px;
    width: 1005px;
    height: 161.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}
.paragraph10 {
    align-self: stretch;
    height: 97.5px;
    position: relative;
}
.navigation {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    width: 1101px;
    height: 89px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 1px;
    flex-shrink: 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: 'Space Grotesk';
}
.container11 {
    align-self: stretch;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 48px;
    box-sizing: border-box;
    gap: 20px;
}
.button2 {
    height: 40px;
    width: 127.4px;
    position: relative;
    background-color: #ef0b48;
}
.farah-caban {
    position: absolute;
    top: 8px;
    left: 16px;
    line-height: 24px;
}
.container12 {
    height: 24px;
    width: 145.1px;
    display: flex;
    align-items: center;
    gap: 32px;
    color: rgba(255, 255, 255, 0.7);
}
.button3 {
    height: 24px;
    width: 38.3px;
    position: relative;
}
.button4 {
    height: 24px;
    flex: 1;
    position: relative;
    color: #fff;
}
.microsoft1-parent {
    position: absolute;
    top: 1624px;
    left: 48px;
    width: 1053px;
    height: 386px;
    overflow-x: auto;
    display: flex;
    align-items: flex-start;
    gap: 36px;
    flex-shrink: 0;
}
.microsoft1-icon {
    height: 386px;
    width: 303px;
    position: relative;
    flex-shrink: 0;
    object-fit: cover;
}
.microsoft2-icon {
    height: 386px;
    width: 304px;
    position: relative;
    flex-shrink: 0;
    object-fit: cover;
}
.pencil1-parent {
    position: absolute;
    top: 2263px;
    left: 48px;
    width: 1053px;
    height: 386px;
    overflow-x: auto;
    display: flex;
    align-items: flex-start;
    gap: 36px;
    flex-shrink: 0;
}
.a11-parent {
    position: absolute;
    top: 3606px;
    left: 48px;
    width: 1017px;
    height: 231px;
    display: flex;
    align-items: center;
    gap: 25px;
    flex-shrink: 0;
}
.a11-icon {
    height: 231px;
    width: 181px;
    position: relative;
    object-fit: cover;
}
.a12-icon {
    height: 231px;
    width: 184px;
    position: relative;
    object-fit: cover;
}
.a13-icon {
    height: 231px;
    width: 182px;
    position: relative;
    object-fit: cover;
}
.a14-icon {
    height: 231px;
    width: 183px;
    position: relative;
    object-fit: cover;
}
.merch1-parent {
    position: absolute;
    top: 3868px;
    left: 48px;
    width: 1037px;
    height: 238px;
    overflow-x: auto;
    display: flex;
    align-items: center;
    gap: 25px;
    flex-shrink: 0;
}
.merch1-icon {
    height: 231px;
    width: 181px;
    position: relative;
    flex-shrink: 0;
    object-fit: cover;
}
.merch2-icon {
    height: 231px;
    width: 184px;
    position: relative;
    flex-shrink: 0;
    object-fit: cover;
}
.merch3-icon {
    height: 231px;
    width: 182px;
    position: relative;
    flex-shrink: 0;
    object-fit: cover;
}
.merch4-icon {
    height: 231px;
    width: 183px;
    position: relative;
    flex-shrink: 0;
    object-fit: cover;
}
.a-mobile-first-platform-container {
    position: absolute;
    top: 2052px;
    left: 48px;
    font-size: 20px;
    line-height: 32.5px;
    font-family: 'Space Grotesk';
    display: inline-block;
    width: 1005px;
    flex-shrink: 0;
}
.microsoft-post-performance {
    margin: 0;
}
.k-impressions-270-above-aver {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 27px;
}
.k-total-engagements {
    margin-bottom: 0px;
}
.frame-parent {
    position: absolute;
    top: 940px;
    left: 48px;
    width: 1322px;
    height: 386px;
    overflow-x: auto;
    flex-shrink: 0;
}
.merchptmu1-parent {
    position: absolute;
    top: 0px;
    left: 1360px;
    width: 1323px;
    height: 386px;
    flex-shrink: 0;
}
.merchptmu1-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 303px;
    height: 386px;
    object-fit: cover;
}
.merchptmu2-icon {
    position: absolute;
    top: 0px;
    left: 339px;
    width: 304px;
    height: 386px;
    object-fit: cover;
}
.merchptmu3-icon {
    position: absolute;
    top: 0px;
    left: 679px;
    width: 304px;
    height: 386px;
    object-fit: cover;
}
.merchptmu4-icon {
    position: absolute;
    top: 0px;
    left: 1019px;
    width: 304px;
    height: 386px;
    object-fit: cover;
}
.autoptmu1-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1322px;
    height: 386px;
    flex-shrink: 0;
}
.autoptmu3-icon {
    position: absolute;
    top: 0px;
    left: 679px;
    width: 303px;
    height: 386px;
    object-fit: cover;
}
.autoptmu4-icon {
    position: absolute;
    top: 0px;
    left: 1018px;
    width: 304px;
    height: 386px;
    object-fit: cover;
}
.sbptmu1-parent {
    position: absolute;
    top: 0px;
    left: 4081px;
    width: 1322px;
    height: 386px;
    flex-shrink: 0;
}
.b2bptmu1-parent {
    position: absolute;
    top: 0px;
    left: 2721px;
    width: 1322px;
    height: 386px;
    flex-shrink: 0;
}

