.b-side-images {
  	width: 100%;
  	height: 6996px;
  	position: relative;
  	background-color: #000;
  	text-align: left;
  	font-size: 20px;
  	color: rgba(255, 255, 255, 0.8);
  	font-family: 'Space Grotesk';
}
.navigation {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: rgba(0, 0, 0, 0.8);
  	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  	box-sizing: border-box;
  	width: 1101px;
  	height: 89px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 0px 1px;
  	text-align: center;
  	font-size: 16px;
  	color: #fff;
}
.container {
  	align-self: stretch;
  	height: 88px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 0px 48px;
  	box-sizing: border-box;
  	gap: 20px;
}
.button {
  	height: 40px;
  	width: 127.4px;
  	position: relative;
  	background-color: #ef0b48;
}
.farah-caban {
  	position: absolute;
  	top: 8px;
  	left: 16px;
  	line-height: 24px;
}
.container2 {
  	height: 24px;
  	width: 145.1px;
  	display: flex;
  	align-items: center;
  	gap: 32px;
  	color: rgba(255, 255, 255, 0.7);
}
.button2 {
  	height: 24px;
  	width: 38.3px;
  	position: relative;
}
.work {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 24px;
}
.button3 {
  	height: 24px;
  	flex: 1;
  	position: relative;
  	color: #fff;
}
.title {
  	position: absolute;
  	top: 168px;
  	left: 48px;
  	width: 1005px;
  	height: 188px;
  	text-align: center;
  	font-size: 16px;
  	color: rgba(255, 255, 255, 0.7);
}
.button4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 129.1px;
  	height: 24px;
}
.icon {
  	position: absolute;
  	top: 2px;
  	left: 0px;
  	width: 20px;
  	height: 20px;
}
.back-to-work {
  	position: absolute;
  	top: 0px;
  	left: 28px;
  	line-height: 24px;
}
.container3 {
  	position: absolute;
  	top: 56px;
  	left: 0px;
  	width: 1005px;
  	height: 132px;
  	text-align: left;
  	font-size: 72px;
  	color: #fd3e71;
  	font-family: Syne;
}
.heading-1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1005px;
  	height: 72px;
}
.b-side {
  	position: absolute;
  	top: -0.5px;
  	left: 0px;
  	line-height: 72px;
}
.paragraph {
  	position: absolute;
  	top: 96px;
  	left: 0px;
  	width: 1005px;
  	height: 36px;
  	font-size: 30px;
  	color: rgba(255, 255, 255, 0.9);
  	font-family: 'Space Grotesk';
}
.interaction-design {
  	position: absolute;
  	top: -0.5px;
  	left: 0px;
  	line-height: 36px;
}
.context {
  	position: absolute;
  	top: 395px;
  	left: 48px;
  	background-color: rgba(255, 255, 255, 0.05);
  	width: 1005px;
  	height: 116px;
  	font-size: 14px;
  	color: rgba(255, 255, 255, 0.5);
}
.container4 {
  	position: absolute;
  	top: 32px;
  	left: 32px;
  	width: 292.3px;
  	height: 52px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.paragraph2 {
  	align-self: stretch;
  	height: 20px;
  	position: relative;
}
.duration {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 20px;
}
.paragraph3 {
  	align-self: stretch;
  	height: 24px;
  	position: relative;
  	font-size: 16px;
  	color: #fff;
}
.container5 {
  	position: absolute;
  	top: 32px;
  	left: 356.33px;
  	width: 292.3px;
  	height: 52px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.overview-text {
  	position: absolute;
  	top: 561px;
  	left: 48px;
  	width: 1005px;
  	height: 219px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
  	font-size: 36px;
  	font-family: Syne;
}
.heading-2 {
  	align-self: stretch;
  	height: 40px;
  	position: relative;
}
.overview {
  	position: absolute;
  	top: -1px;
  	left: 0px;
  	line-height: 40px;
}
.paragraph6 {
  	align-self: stretch;
  	height: 143px;
  	position: relative;
  	font-size: 20px;
  	font-family: 'Space Grotesk';
}
.a-mobile-first-platform {
  	position: absolute;
  	top: 0.69px;
  	left: 0px;
  	line-height: 32.5px;
  	display: inline-block;
  	width: 1005px;
}
.the-process {
  	position: absolute;
  	top: 1431px;
  	left: 50px;
  	width: 1003px;
  	height: 131px;
}
.a-mobile-first-platform-connec-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1003px;
  	height: 131px;
}
.the-problem {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-size: 36px;
  	line-height: 40px;
  	font-family: Syne;
  	display: inline-block;
  	width: 1003px;
}
.research {
  	position: absolute;
  	top: 2154px;
  	left: 50px;
  	width: 1003px;
  	height: 261px;
}
.a-mobile-first-platform-container {
  	position: absolute;
  	top: 66px;
  	left: 0px;
  	line-height: 32.5px;
  	display: inline-block;
  	width: 1003px;
}
.through-interviews-with {
  	margin: 0;
}
.discovery-feels-more-meaningfu {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 27px;
}
.discovery-feels-more {
  	margin-bottom: 0px;
}
.research3 {
  	position: absolute;
  	top: 2475px;
  	left: 50px;
  	width: 1003px;
  	height: 131px;
}
.sketching-and-ideation {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-size: 30px;
  	line-height: 40px;
  	font-weight: 300;
  	font-family: 'Titillium Web';
  	display: inline-block;
  	width: 1003px;
}
.process {
  	position: absolute;
  	top: 1613px;
  	left: 50px;
  	width: 1003px;
  	height: 40px;
  	font-size: 36px;
  	font-family: Syne;
}
.the-process2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 40px;
  	display: inline-block;
  	width: 1003px;
}
.header-image {
  	position: absolute;
  	top: 780px;
  	left: 50px;
  	background-color: #dcdcdc;
  	width: 1003px;
  	height: 539px;
  	overflow: hidden;
}
.header-image-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #dcdcdc;
  	width: 1003px;
  	height: 539px;
  	overflow: hidden;
}
.st-image-icon {
  	position: absolute;
  	top: 34px;
  	left: 198px;
  	box-shadow: 11px 11px 15.9px 6px rgba(0, 0, 0, 0.25);
  	width: 608px;
  	height: 505px;
  	object-fit: cover;
}
.sketched-wireframe-parent {
  	position: absolute;
  	top: 2666px;
  	left: 48px;
  	width: 1001px;
  	height: 606px;
}
.sketched-wireframe-icon {
  	position: absolute;
  	top: 1px;
  	left: 40px;
  	width: 405px;
  	height: 308px;
  	object-fit: cover;
}
.gray-wireframe-icon {
  	position: absolute;
  	top: 0px;
  	left: 561px;
  	width: 408px;
  	height: 309px;
  	object-fit: cover;
}
.sitemap-1-icon {
  	position: absolute;
  	top: 364px;
  	left: 0px;
  	width: 1001px;
  	height: 242px;
  	object-fit: cover;
}
.review-music-icon {
  	position: absolute;
  	top: 3740px;
  	left: 50px;
  	width: 1003px;
  	height: 550px;
  	object-fit: cover;
}
.join-forums-icon {
  	position: absolute;
  	top: 4518px;
  	left: 50px;
  	width: 1003px;
  	height: 550px;
  	object-fit: cover;
}
.discover-icon {
  	position: absolute;
  	top: 5257px;
  	left: 50px;
  	width: 1003px;
  	height: 550px;
  	object-fit: cover;
}
.profiles-icon {
  	position: absolute;
  	top: 6027px;
  	left: 50px;
  	width: 1003px;
  	height: 550px;
  	object-fit: cover;
}
.research4 {
  	position: absolute;
  	top: 3599px;
  	left: 50px;
  	width: 1003px;
  	height: 99px;
}
.research5 {
  	position: absolute;
  	top: 4342px;
  	left: 50px;
  	width: 1003px;
  	height: 131px;
}
.research6 {
  	position: absolute;
  	top: 5108px;
  	left: 50px;
  	width: 1003px;
  	height: 99px;
}
.research7 {
  	position: absolute;
  	top: 5847px;
  	left: 50px;
  	width: 1003px;
  	height: 131px;
}
.process2 {
  	position: absolute;
  	top: 3394px;
  	left: 49px;
  	width: 1003px;
  	height: 164px;
}
.impact-and-reflection {
  	position: absolute;
  	top: 6633px;
  	left: 39px;
  	width: 1003px;
  	height: 288px;
}
.a-mobile-first-platform9 {
  	position: absolute;
  	top: 190px;
  	left: 0px;
  	line-height: 32.5px;
  	display: inline-block;
  	width: 1003px;
}
.process-image-icon {
  	position: absolute;
  	top: 1687px;
  	left: 50px;
  	width: 999px;
  	height: 379px;
  	object-fit: cover;
}

